<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>SeatWatcher</h3>
</div>
<div class="modal-body">

  <p class="lead">We are now watching <strong><%=section.get('name')%> <%=section.get('info')%></strong> for you</p>

</div>
<div class="modal-footer">
  <a href="#" class="btn btn-success" data-dismiss="modal">Awesome</a>
</div>