<%if ( loggedIn ){%>
<div id="fb-root"></div>
	<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=182622275092530";
	js.acync = true;
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<%}%>
<link rel="stylesheet" href="/styles/raffle.css" type="text/css" media="all" />
<script>
(function(){
	setTimeout(function(){
		$('.raffle-header').slideDown();
	}, 800);
})();
</script>
<div class="raffle-header loading">
	<div class="container">
		<div class="row">
			<div class="span6">
				<img id="nexus-7-tablet" src="/images/raffle/nexus-7-tablet.png" alt="Nexus 7"/>
			</div>
			<div class="span6 raffle-display-left">
				
				<div class="raffle-info raffle-left">
					<h1>Refer Friends</h1>
					<h2>and win a</h2>
					<img id="nexus-7-text" src="/images/raffle/nexus-7-logo.png" />
					<h3>or one of many other pizes</h3>

					<%if ( loggedIn ){%>

					<div class="share-link-container">
						<div class="link-well well">
							<h2 class="share-text">Use this link to refer friends and get points!</h2>
							<h3 class="share-link"><%=raffleLink.toString()%></h3>
							<div class="social-links">
								<div class="share share-facebook">
									<div class="fb-like" data-href="http://courseshark.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial" data-ref="<%=raffleLink.hash%>"></div>
								</div>
								<div class="share share-twitter">
									<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%=raffleLink.toString()%>" data-text="Sign up for CourseShark and win a Nexus7" data-via="courseshark" data-count="none">Tweet</a>
									<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
								</div>
								<div style="clear:both;"></div>
							</div>
						</div><!-- End link-well -->
					</div><!-- end link-container -->

					<%}else{%>
					<div class="button-actions">
						<button class="btn btn-large btn-primary" onClick="$('.raffle-info').hide();$('.raffle-login').fadeIn()">Let's Get To It!</button>
					</div>
					<%}%>
					<a href="/giveaway" title="Moar Raffle Stuffs">Qua? Tell me more!</a>

				</div>

				<div class="raffle-login raffle-left">
					<img src="/images/raffle/sign-in-arrow.png" alt=""/>
					<h1>Sign In</h1>
					<h3>so we can find you when you win</h1>
				</div>

			</div>
		</div>
	</div>
</div>