<div class="well footer">
	<div class="container">
		<div class="row">
			<div class="span3">
				<img src="/images/logo.png" alt="CourseShark Logo"/>
			</div>
			<div class="span8">
				<ul class="nav nav-pills">
					<li><a href="/">Home</a></li>
					<li><a onClick="openDialog('/about')">About</a></li>
					<li><a href="/about/terms">Terms</a></li>
					<li><a href="/about/privacy">Privacy</a></li>
          <li><a href="javascript:UserVoice.showPopupWidget();">Feedback</a></li>
					<li><a href="http://blog.courseshark.com/">Blog</a></li>
					<li><a href="https://twitter.com/CourseShark">Twitter</a></li>
					<li><a href="https://facebook.com/CourseShark">Facebook</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				&copy; <%= (new Date).getFullYear() %> CourseShark LLC.
			</div>
		</div>
	</div>
</div>