<div class="well footer">
	<div class="container">
		<div class="row">
			<div class="span3">
				<img src="/images/logo.png" alt="CourseShark Logo"/>
			</div>
			<div class="span7">
				<ul class="nav nav-pills">
					<li><a href="/">Home</a></li>
					<li><a onClick="openDialog('/about')">About</a></li>
					<li><a href="/about/terms">Terms of Service</a></li>
					<li><a href="/about/privacy">Privacy</a></li>
          <li><a href="#" onClick="openDialog('/about/feedback')">Contact</a></li>
					<li><a href="http://blog.courseshark.com/">Blog</a></li>
					<li><a href="https://twitter.com/CourseShark">Twitter</a></li>
				</ul>
			</div>
			<div class="span2 slow-social">
				<div class="row-fluid">
					<!-- Facebook buttons -->
					<div class="span6">
						<div class="fb-like" data-href="http://courseshark.com/" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true"></div>
					</div>
				</dv>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				&copy; <%= (new Date).getFullYear() %> CourseShark LLC.
			</div>
		</div>
	</div>
</div>