<form>
	<input type="email" placeholder="Email address" />
	<input type="password" placeholder="Password" />
	<input type="password" placeholder="Confirm Password" />
	<button type="button">Sign up for Agendaroo</button>
</form>