<div class="attribute">
	<div class="row-fluid" >
		<fieldset>
			<legend>seats</legend>
			<div class="row-fluid">
					<div class="seats span24">
						<div class="span2 offset2">
							<input type="checkbox" name="seats" id="available" value="available" checked>
						</div>
						<div class="span20">
							<label for="available">available</label>
						</div>
					</div>
			</div>
			<div class="row-fluid">
					<div class="seats span24">
						<div class="span2 offset2">
							<input type="checkbox" name="seats" id="wait" value="wait" checked>
						</div>
						<div class="span20">
							<label for="wait">waitlist</label>
						</div>
					</div>
			</div>
			<div class="row-fluid">
					<div class="seats span24">
						<div class="span2 offset2">
							<input type="checkbox" name="seats" id="full" value="full" checked>
						</div>
						<div class="span20">
							<label for="full">full</label>
						</div>
					</div>
			</div>
		</fieldset>
	</div>
</div>