*.DS_Store
*.cache

bin/node/*
node_modules/*
cert/*
logs/*

logs/access.log
npm-debug.log

public/scripts/*-courseshark.js
public/styles/*-courseshark.css
public/styles/lib/.DS_Store
public/styles/master.css
public/.DS_Store
public/images/.DS_Store

public/styles/schedule/main.css