<div class="modal-header">
  <a href="#" class="close">&times;</a>
  <h3>Forgot your password?</h3>
</div>

<div class="modal-body">
  <div id="login" class="form-horizontal">
    <!-- Email -->
    <div class="control-group" id="login-email-control">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input type="email" class="input-xlarge forgot-form-input-email" placeholder="Email Address"/>
        <div class="help-inline">
          <div class="btn btn-mini btn-link remembered-password">I remember it now!</div>
          <div class="btn btn-mini btn-link rememeber-needs-account">Need an account?</div>
        </div>
        <p class="text-error forgot-error"></p>
      </div>
    </div>
    <!-- Alt login -->
    <div class="control-group" id="forgot-oauth-control">
      <label class="control-label" for="alt"><strong>or just Login with</strong></label>
      <div class="controls">
        <a href="/auth/facebook" class="btn login-via-facebook"><img class="icon-img" src="/images/login/facebook.png" /></a>
        <a href="/auth/google"   class="btn login-via-google"  ><img class="icon-img" src="/images/login/google.png" /></a>
        <a href="/auth/twitter"  class="btn login-via-twitter" ><img class="icon-img" src="/images/login/twitter.ico" /></a>
        <a href="/auth/linkedin" class="btn login-via-linkedin"><img class="icon-img" src="/images/login/linkedin.png" /></a>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="btn btn-primary forgot-form-submit">Recover</div>
  <div class="btn" data-dismiss="modal">Close</div>
</div>