<div class="dropdown-header">
  <div class="header-title"><%= user.get('name') %></div>
  <button type="button" class="close" aria-hidden="true">&times;</button>
</div>

<div class="dropdown-content">
  <ul class="nav">
    <li><a id="nav-act-schedules">Schedules</a></li>
  </ul>
  <div class="split"></div>
  <ul class="nav">
    <li><a id="nav-act-settings">Settings</a></li>
    <li><a id="nav-act-logout">Logout</a></li>
  </ul>

</div>