<img class="avatar" src="<%=user.get("avatar")%>" alt="<%=user.get("name")%>"/>
<div class="name">
  <%=user.get('name')%>
</div>
<div class="button-container">
  <button class="ignore-request btn btn-mini">Ignore</button>
  <button class="accept-request btn btn-mini btn-primary">Accept</button>
</div>
