<div class="dropdown-header">
  <div class="header-title">Notifications</div>
  <button type="button" class="close" aria-hidden="true">&times;</button>
</div>

<div class="dropdown-content">
  <div class="friend-requests">
    <h1>Friend Requests</h1>
    <div class="request-list empty">
      No new friend requests
    </div>
  </div>
</div>