<div class="info">
  <div class="name">
    <%=nameWithSection%>
  </div>
  <div class="seats">
    <%=seats||'-/-'%>
  </div>
  <div class="updated">
    Last updated: <%=lastUpdated%>
  </div>
</div>
<div class="button-container">
  <button class="edit-notification btn btn-mini hidden">Edit</button>
  <button class="stop-notification btn btn-mini btn-danger">Stop</button>
</div>
