<div class="kayak-section">
  <div class="prof"><%= prof %></div>
  <div class="seats"><%= seats %></div>
  <div class="section-id"><%= section_id %></div>
  <div class="days">
    <div class="day selected">m</div>
    <div class="day">t</div>
    <div class="day selected">w</div>
    <div class="day">th</div>
    <div class="day selected">f</div>
  </div>
  <div class="expand">
    +
  </div>
</div>
