<div class="kayak-section">
  <div class="prof"><%= prof %></div>
  <div class="seats"><%= seats %></div>
  <div class="section-id"><%= section_id %></div>
  <div class="days">
    <div class="day selected">m</div>
    <div class="day">t</div>
    <div class="day selected">w</div>
    <div class="day">th</div>
    <div class="day selected">f</div>
  </div>
  <button class="add">
  </button>
  <div class="details">
    <div class="description">
      Ice cream chocolate cake apple pie. Muffin sweet gummies icing tiramisu icing halvah jujubes ice cream. Dragée cake powder cupcake bear claw oat cake dessert tart jelly beans.
    </div>
    <div class="hours">
      3 Credit Hours
    </div>
  </div>
  <div class="expander">
    <i class="icon-chevron-down"></i>
  </div>
</div>
