<div class="kayak-section">
  <div class="prof">John T. Stasko</div>
  <div class="seats">2/100</div>
  <div class="section-id">84571: Section K</div>
  <div class="days">
    <div class="day selected">m</div>
    <div class="day">t</div>
    <div class="day selected">w</div>
    <div class="day">th</div>
    <div class="day selected">f</div>
  </div>
  <div class="expand">
    +
  </div>
</div>
