<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Register</h3>
</div>
<div class="modal-body">
  <div class="row-fluid">
    <div class="header span12">CRNs:</div>
  </div>
  <div class="row-fluid">
    <ul id="register-crn-list" class="unstyled">
    </ul>
  </div>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>