<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Save Schedule</h3>
</div>
<div class="modal-body">
  <div class="row-fluid">
    <div class="header span12">Name:</div>
  </div>
  <div class="row-fluid">
    <input class="span12" type="text" id="save-dialog-name-field" name="savename" />
  </div>
</div>
<div class="modal-footer">
  <a href="#" id="do-save" class="btn btn-success">Save</a>
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>