<div class="container"></div>

<script>
	window.CS = {
			loggedIn: "<%=loggedIn%>"
		,	school: "<%= school %>"
		,	serverScheduleVersion: "<%= revision %>"
		, baseDir: '/s/'
	}
</script>

<%if ( built ){ %>
	<script src="/scripts/backbone-schedule/build.main.js"></script>
<%}else{%>
	<script data-main="/scripts/backbone-schedule/main" src="/scripts/lib/require/require.js"></script>
<%}%>
