<div class="container"></div>

<script>
	window.CS = {
			loggedIn: "<%=loggedIn%>"
		,	school: "<%= school %>"
		,	serverScheduleVersion: "<%= revision %>"
		, baseDir: '/s/'
	}
</script>

<script data-main="/scripts/backbone-schedule/main" src="/scripts/lib/require/require.js"></script>