<div id="app-container"></div>


<script>
window.requestAnimFrame = (function(){
	return  window.requestAnimationFrame ||
	  window.webkitRequestAnimationFrame ||
	  window.mozRequestAnimationFrame    ||
	  window.oRequestAnimationFrame      ||
	  window.msRequestAnimationFrame     ||
	  function( callback ){
	    window.setTimeout(callback, 1000 / 60);
	  };
})();
</script>
<script>
	window.CS = {

			auth: {
				<%if (loggedIn){%>
					user_id: "<%=user.id%>"
				,	access_token: "<%=authToken%>"
				<%}%>
			}
		,	school: "<%= school %>"
		,	serverScheduleVersion: "<%= revision %>"
		, baseDir: '/s/'
	}
</script>
<%if ( built ){ %>
	<script src="/scripts/backbone-schedule/build.main.js"></script>
<%}else{%>
	<script data-main="/scripts/backbone-schedule/main" src="/scripts/lib/require/require.js"></script>
<%}%>