<div class="setting-name">Password</div>
<div class="setting-form">
  <div class="form-horizontal">

    <%if (user.get('password')){%>
    <div class="control-group">
      <label class="control-label" for="inputCurrentPassword">Current Password</label>
      <div class="controls">
        <input type="password" id="inputCurrentPassword" placeholder="Current Password" />
      </div>
    </div>
    <%}%>
    <div class="control-group">
      <label class="control-label" for="inputNewPassword">New Password</label>
      <div class="controls">
        <input type="password" id="inputNewPassword" placeholder="New Password" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputConfirmPassword">Confirm Password</label>
      <div class="controls">
        <input type="password" id="inputConfirmPassword" placeholder="New Password" />
      </div>
    </div>
    <div class="error"></div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-mini cancel">Cancel</button>
        <button class="btn btn-mini btn-primary submit">Set new password</button>
      </div>
    </div>
  </div>
</div>
