<div class="setting-name">Phone</div>
<div class="setting-form">
  <div class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputPhone">Phone</label>
      <div class="controls">
        <input type="text" id="inputPhone" placeholder="Cell Phone" value="<%-phone||''%>" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-mini cancel">Cancel</button>
        <button class="btn btn-mini btn-primary submit">Update</button>
      </div>
    </div>
  </div>
</div>
