<div class="container full-height hide-overflow">
	<div class="row full-height">
		<div class="span16 full-height">
			<div class="row full-height">
				<!-- Contains the overlayed panels -->
				<div id="right-two-panels" class="span16 full-height">
					<!-- Sliding pane -->
					<div id="slide-panel" class="row full-height">
						<div id="slide-container" class="span8 full-height panel">
							<div class="row full-height">
								<!-- Filter view goes here -->
								<div id="filter-frame" class="span8 full-height"></div>
								<!-- Results view goes here -->
								<div id="results-frame" class="span8 full-height hidden"></div>
								<!-- Slider button-->
								<div id="slide-panel-button" class="open"></div>
							</div>
						</div>
					</div>
					<!-- MaxiCal -->
					<div id="max-cal-container" class="row full-height">
						<!-- MaxiCal view goes here -->
						<div id="max-cal-frame" class="span16 full-height panel hidden"></div>
					</div>

					<!-- Tutorial Frame -->
					<div id="tutorial-frame" class="full-height offset8 span8">
						<svg version="1.1" class="tutorial-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="160px" height="178px" viewBox="0 0 160 178" enable-background="new 0 0 160 178" xml:space="preserve">
							<defs>
								<filter id='inner-shadow'>

								<!-- Shadow Offset -->
								<feOffset
									dx='5'
									dy='5'
								/>
								<!-- Shadow Blur -->
								<feGaussianBlur
									stdDeviation='3'
									result='offset-blur'
								/>
								<!-- Invert the drop shadow
								to create an inner shadow -->
								<feComposite
									operator='out'
									in='SourceGraphic'
									in2='offset-blur'
									result='inverse'
								/>
								<!-- Color & Opacity -->
								<feFlood
									flood-color='#141414'
									flood-opacity='0.5'
									result='color'
								/>
								<!-- Clip color inside shadow -->
								<feComposite
									operator='in'
									in='color'
									in2='inverse'
									result='shadow'
								/>
								<!-- Put shadow over original object -->
								<feComposite
									operator='over'
									in='shadow'
									in2='SourceGraphic'
								/>
								</filter>
							</defs>
							<g>
								<path d="M42.7,7.655c-4.5,4.1-13.1,10.8-19.2,14.8c-6,4.1-13.4,9.6-16.2,12.2c-7.2,6.4-7.2,8.8,0.1,17.7
									c7,8.4,46.4,48.2,49.3,49.7c4.2,2.1,10.3-2.301,10.3-7.4c0-2.4-1.8-5.4-8-13.1c-4.4-5.4-8-10.5-8-11.2c0-0.7-0.7-2.3-1.5-3.6
									c-1.2-1.8-1.3-2.6-0.2-3.9c1.1-1.6,2.2-1.6,10.7-0.7c11.4,1.1,18.2,3.1,27.5,7.7c13.9,7.1,26,17,36,29.8
									c9,11.6,10.7,14.9,16,30.9c3.9,12.1,4.5,15,5.1,25.899c1,19.8,3,22.8,9.5,14l3.4-4.8v-12c0-10.2-0.4-13.3-2.7-20.5
									c-1.399-4.7-3.6-12.1-4.7-16.5c-5.899-21.9-17.1-36.3-41-52.5c-12.699-8.5-39.1-19.5-53.1-22c-12-2.2-18.1-4.2-19.7-6.7
									c-1.4-2.2-1.4-2.7,0.3-6.4c1-2.3,3.4-5.3,5.3-6.7c7.5-5.6,14.6-11.5,15.9-13c1.5-2,1.6-6.4,0-8C54.9-1.545,51.1,0.055,42.7,7.655
									z" class="tutorial-svg-arrow"/>
							</g>
						</svg>
						<h1>You don&rsquo;t have a schedule yet</h1>
						<h2>Get Started Here</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- Schedule information panel -->
		<div id="schedule-frame" class="span8 full-height">
			<div id="mini-cal-frame"></div>
			<div id="courses-frame"></div>
			<div id="friends-frame"></div>
			<!-- Schedule view goes here -->
		</div>
	</div>
</div>