<div class="results-course">
  <div class="row-fluid course-info-row">
    <div class="name span8"><%= departmentAbbr %> <%= number %></div>
    <div class="description span16"><%= name %></div>
  </div>
  <div class="row-fluid sections-container">
		<div class="span24 sections-list"></div>
	</div>
</div>
