
<%- partial('./raffle/main-inject') %>


<div class="fancy">
	<div class="container" >
		<div class="hero-unit masthead">
			<div class="row">
				<div class="introducing span6">		
				  <h1>Scheduling made simple</h1>
				  <p class="intro">
				  	CourseShark crafts exactly the schedule you need and shares it with your inner circles.
				  </p>
				  <p>
				  	<a href="/schedule" class="btn btn-success btn-large">
							Get Started <i class="icon-white icon-arrow-right"></i>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="section-head">
 		<h1>Create your schedules and share them with friends and classmates</h1>
 		<p>We have the tools you need to get your schedule right.</p>
 	</div>
	<div class="row listing">
		<div class="span4">
			<h2>Accurate Data<span class="arrow"></span></h2>
			<p>During registration periods, seat information changes fast. One minute a class is virtually empty, and the next there is only one seat left! 
				CourseShark automatically scans college catalogs as often as every <strong>15 minutes,</strong> so you always have the most up-to-date information.</p>
		</div>			
		<div class="span4">
			<h2>Friends<span class="arrow"></span></h2>
			<p><strong>New:</strong> CourseShark's friends feature allows you to see what sections your friends are in, invite friends to take a class with 
				you, and compare schedules to find out when you are both free for lunch.</p>
		</div>
		<div class="span4">
			<h2>Seat Watcher<span class="arrow"></span></h2>
			<p>
				Get ahead of the game with <a href="/watcher" title="Seat Watcher Page">Seat Watcher</a>, a revolutionary new tool for college schedule creation. Seat Watcher
				sends you an email and/or text message when a seat opens in a class you need.</p>
		</div>
	</div>
	<div class="row listing">
		<div class="span4">
			<h2>Quick Sharing<span class="arrow"></span></h2>
			<p>Sharing your schedule has never been easier! With CourseShark, you can generate short links directly to your schedule or post your
				schedule on your Facebook timeline. </p>
		</div>
		<div class="span4">
			<h2>AutoAdd<span class="arrow"></span></h2>
			<p>Know what classes you want to take, but can&rsquo;t get them to fit together? AutoAdd will create your schedule for you in seconds.</p>
		</div>
		<div class="span4">
			<h2>Online Storage<span class="arrow"></span></h2>
			<p>CourseShark lets you easily save and load your schedules from any computer. A simple feature, but incredibly useful.</p>
		</div>
	</div>
	<div class="row listing">
		<div class="span4">
			<h2>Printability<span class="arrow"></span></h2>
			<p>Want a nice printout of your schedule? We&rsquo;ve got you covered. Simply print your schedule, and CourseShark will generate a beautiful and printer-friendly
				render of your schedule.</p>
		</div>
		<div class="span4">
			<h2>Ease of Use<span class="arrow"></span></h2>
			<p>We are always working to make CourseShark the easiest and most powerful scheduling tool on the market.</p>
		</div>
		<div class="span4">
			<h2>Export<span class="arrow"></span></h2>
			<!-- <img src="/images/features/ical.png" alt="Export your schedule to iCal for example"/>  -->
			<p>Like to have a copy of your class schedule on your Google Calendar, iCal, or Outlook? CourseShark can export your schedule 
				in a format accepted by most calendar programs.</p>
		</div>
	</div>
</div>
<script>mixpanel.track('Viewed Landing Page');</script>