<div class="modal-header">
	<a href="#" class="close" data-dismiss="modal">&times;</a>
	<h3>About <small>Course<strong>Shark</strong><small></h3>
</div>
<div class="modal-body">
	<p>
		CourseShark, is the newest and easiest way to plan your college 
		schedule this semester. With CourseShark's easy and intuitive interface 
		you can craft the schedule you need faster than ever!
		Our system scans college catalogs every 15 minutes, so information regarding
		sections, instructors, seats, and class times are always up-to-date.
	</p>
	<hr />
	<div class="row-fluid">
		<div class="span4">
			<h3>James<small> Rundquist</small></h3>
			<img src="/images/staff/james.jpg" alt="James Rundquist" />
			<a href="https://twitter.com/#!/jamesrundquist" target="_blank">@jamesrundquist</a><br />
			<a href="http://www.linkedin.com/in/jamesrundquist" target="_blank">LinkedIn</a>
		</div>
		<div class="span4">
			<h3>Anastasia<small> Marchenkova</small></h3>
			<img src="/images/staff/anastasia.jpg" alt="Anastasia Marchenkova" />
			<a href="https://twitter.com/#!/amarchenkova" target="_blank">@amarchenkova</a><br />
			<a href="http://www.linkedin.com/pub/anastasia-marchenkova/23/348/122" target="_blank">LinkedIn</a>
		</div>
		<div class="span4">
			<h3>Greg<small> Cobb</small></h3>
			<img src="/images/staff/greg.jpg" alt="Greg Cobb" />
			<a href="https://twitter.com/#!/gregmcobb" target="_blank">@gregmcobb</a>
		</div>
	</div>
</div>
<div class="modal-footer">
	<a href="#" class="btn" data-dismiss="modal">Awesome</a>
</div>