<!DOCTYPE html> 
<html lang="en"> 
<head>
	<meta charset=utf-8 /> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale = 1, maximum-scale = 5"/>
	<meta name="robots" content="noindex,nofollow" />
	<title>CourseShark Error</title> 
	<link rel="stylesheet" href="/styles/master.css" type="text/css" media="all" /> 
		
</head>
<body>
	<%- partial('includes/nav.ejs') %>
	<%- body %>
	<%- partial('includes/foot.ejs') %>
	<%- partial('includes/js.ejs') %>
</body>
</html>