<div class="row-fluid">
  <div class="schedule-section span24">
  	
    <div class="span20">
      <div class="span1" style="background:<%=color%>;height:5px;"></div> 
      <div class="offset1">
      	<%= number %> : <%=name%> 
      </div>
    </div>
  </div>
</div>