<div class="row-fluid">
  <div class="schedule-section span24">
  	<div class="section-block" style="background:<%=color%>;height:5px;"></div>
    <div class="span20 offset2">
      <%= number %> : <%=name%> : <%=color%> 
    </div>
  </div>
</div>