<div class="row-fluid">
  <div class="schedule-section span24">
    <div class="span20">
            <!-- todo: fix  -->
      <div class="span1" style="background:<%=color%>;height:5px;"></div>
      <div class="offset1 span19">
      	<%= number %> : <%=name%>
      </div>
    </div>
    <div class="span1 offset2 remove">
        X
    </div>
  </div>
</div>