<div class="modal-body">
  <select name="loadlist" multiple>
  </select>
</div>
<div class="modal-footer">
  <a href="#" id="do-load" class="btn btn-success">Load</a>
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>