<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Edit Group</h1>
			<form action="/groups/<%= group.id %>" method="post" class="form-horizontal">
				<input type="hidden" name="_method" value="PUT" />
			  <%- partial('form') %>
				<div class="form-actions">
					<a href="/groups/<%= group.id %>" class="btn">Cancel</a>
					<button type="submit" class="btn btn-primary">Edit Group</button>
				</div>
			</form>
		</div>
	</div>
</div>