<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Groups</h1>
			<h4><a href="/groups/new">Create New</a></h4>
			<ul>
			<% for(var _i=0; _i<groups.length; _i++) {%>
				<li><a href="<%= '/groups/'+groups[_i].id %>"><%= groups[_i].name %></a></li>
			<% } %>
			</ul>
		</div>
	</div>
</div>