<style>
	body{
		background: url('http://03694675b5adae6c959d-b2039adcd340c64cda7213b76bc7bc82.r82.cf1.rackcdn.com/bg-seats.png') center 50px no-repeat white;
	}
</style>

		<div class="container">
			<div class="hero-unit masthead seats">
				<div class="row">
					<div class="span6">
					  <h1>Seat<strong>Watcher</strong></h1>
					  <p class="intro">Full class? No problem. We will send you a notification when seats open.</p>
					  <p>
					    <a class="btn btn-success btn-large" href="/notifications">
					      Get Started
					      <i class="icon-white icon-arrow-right"></i>
					    </a>
					  </p>
					</div>
				</div>
			</div>
		</div>
		<div class="well stats">
			<div class="container">
				<div class="row">
					<div class="span4">
						<h2>Reported Success</h2>
						<p><%- success %></p>
					</div>
					<div class="span4">
						<h2>Total Notifications</h2>
						<p><%- total %></p>
					</div>
					<div class="span4">
						<h2 class="stat-title" id="total-watched-text">Currently Watching</h2>
						<p><%- active %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="section-head">
				<h1>How it works</h1>
				<p>Methods behind the magic.</p>
			</div>
			<div class="row">
				<div class="span4">
					<h2>Create</h2>
					<p>When a class you need is full, head over to the <a href="/notifications">SeatWatcher</a> and create
						your notification.</p>
				</div>
				<div class="span4">
					<h2>Choose</h2>
					<p>Simply select the course you need, how you would like to be notified, and if you want to be 
						notified of waiting list openings.</p>
				</div>
				<div class="span4">
					<h2>Relax</h2>
					<p>CourseShark will continuously check for open seats in your class. When a spot in the class opens, CourseShark will send a notification
					  to your email or phone.</p>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<div class="thumbnail">
						<img src="http://03694675b5adae6c959d-b2039adcd340c64cda7213b76bc7bc82.r82.cf1.rackcdn.com/step1.png" alt="First step is to Create a notification">
					</div>
				</div>
				<div class="span4">
					<div class="thumbnail">
						<img src="http://03694675b5adae6c959d-b2039adcd340c64cda7213b76bc7bc82.r82.cf1.rackcdn.com/step2.png" alt="Second step is to Choose a class">
					</div>
				</div>
				<div class="span4">
					<div class="thumbnail">
						<img src="http://03694675b5adae6c959d-b2039adcd340c64cda7213b76bc7bc82.r82.cf1.rackcdn.com/step3.png" alt="Third step is to revel in your success">
					</div>
				</div>
			</div>
		</div>