		<div class="container">
			<div class="hero-unit masthead">
			  <h1>Seat<strong>Watcher</strong></h1>
			  <p>The easiest way to get into the classes you need.</p>
			  <p>
			    <a class="btn btn-primary btn-large" href="/notifications">
			      Get Started
			    </a>
			  </p>
			</div>
		</div>
		<div class="well stats">
			<div class="container">
				<div class="row">
					<div class="span4">
						<h2>Reported Success</h2>
						<p><%- success %></p>
					</div>
					<div class="span4">
						<h2>Total Notifications</h2>
						<p><%- total %></p>
					</div>
					<div class="span4">
						<h2 class="stat-title" id="total-watched-text">Currently Watching</h2>
						<p><%- active %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="section-head">
				<h1>How it works</h1>
				<p>Methods behind the magic.</p>
			</div>
			<div class="row">
				<div class="span4">
					<h2>Create</h2>
					<p>When a class you need is full, head over to the <a href="/notifications">SeatWatcher</a> and create
						your notification.</p>
				</div>
				<div class="span4">
					<h2>Choose</h2>
					<p>Simply select the course you need, how you would like to be notified, and if you want to be 
						notified of waiting list openings.</p>
				</div>
				<div class="span4">
					<h2>Relax</h2>
					<p>CourseShark will continuously check for open seats in your class. When a spot in the class opens, CourseShark will send a notification
					  to your email or phone.</p>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<div class="thumbnail">
						<img src="/images/notifications/step1.png" alt="First step is to Create a notification">
					</div>
				</div>
				<div class="span4">
					<div class="thumbnail">
						<img src="/images/notifications/step2.png" alt="Second step is to Choose a class">
					</div>
				</div>
				<div class="span4">
					<div class="thumbnail">
						<img src="/images/notifications/step3.png" alt="Third step is to revel in your success">
					</div>
				</div>
			</div>
		</div>