<div class="navbar-inner navbar-main">
  <div class="container-fluid">
    <a class="brand">Course<strong>Shark</strong></a>
    <div class="pull-left main-nav-school"></div>
    <div class="pull-right main-nav-right">
      <button id="menu-notifications" class="btn btn-nav">Notifications</button>
      <button id="menu-schedules" class="btn btn-nav">Schedules</button>
      <button id="nav-login" class="btn btn-nav">Login</button>
    </div>
  </div>
</div>