<div class="navbar-inner navbar-main">
  <div class="container-fluid">
    <a class="brand" href="/">Course<strong>Shark</strong> </a>
    <div class="pull-right main-nav-right">
      <% if(user.admin){ %><a href="//admin.<%=domain%>" class="btn btn-nav"><i class="icon-cog"></i> Admin</a><%}%>
      <button id="menu-notifications" class="btn btn-nav"><i class="icon-bullhorn"></i> Notifications</button>
      <button id="menu-schedules" class="btn btn-nav"><i class="icon-calendar"></i> Schedules</button>
      <img src="<%=user.avatar%>" class="user-icon" />
    </div>
  </div>
</div>