<div class="navbar-inner">
  <div class="container-fluid">
    <a class="brand" href="/">Course<strong>Shark</strong> </a>
    <div class="pull-right main-nav-right">
      <button id="menu-notifications" class="btn btn-nav btn-disabled">notifications</button>
      <button id="menu-schedules" class="btn btn-nav btn-disabled">schedules</button>
      <button id="nav-login" class="btn btn-primary">login</button>
    </div>
  </div>
</div>