<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Before we continue, we need to know what school you go to</h1>
		</div>
	</div>
	<div class="page-header"></div>
	<div class="row">
	<% for(var i=0,len=schools.length; i<len; i++){school=schools[i];%>
		<a href="/schools/set/<%= school.abbr %>" style="text-align:center">
			<div class="span3 well">
	    	<img src="/images/schools/<%= school.abbr %>_logo.png" alt="<%= school.name %>" style="margin:0 auto">
			  <p><%= school.name %></p>
			</div>
		</a>
	<%}%>
	</div>
</div>