<div class="container">
  <div class="row">
    <div class="offset6 span8">
      <div class="row-fluid" id="settings-container"></div>
    </div>
    <div class="span4 user-settings-overview">
      <div class="avatar">
        <img src="<%=user.get('avatar')%>?type=large" style="width: 100%"/>
      </div>
      <div class="username">
        <%=user.get('name')%>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li><div id="general-settings">General</div></li>
        <li><div id="privacy-settings">Privacy</div></li>
      </ul>
    </div>
  </div>
</div>