<div class="container settings-page">
  <div class="row">

    <div class="offset4 span12" id="settings-container">
    </div>


    <div class="span4 user-settings-overview">
      <div class="avatar">
        <img src="<%=user.get('avatar')%>?type=large" style="width: 100%"/>
      </div>
      <div class="username">
        <%=user.get('name')%>
      </div>
      <ul class="nav settings-nav">
        <li><a id="general-settings">General</a></li>
        <li><a id="privacy-settings">Privacy</a></li>
      </ul>
    </div>



  </div>
</div>