<div class="container">
  <div class="row">
    <div class="offset4 span12">
      <div class="row-fluid" id="settings-container">
        <h1>H1</h1>
      </div>
    </div>
    <div class="span4">
      <h1><%=user.get('name')%></h1>
      <div class="avatar">
        <img src="<%=user.get('avatar')%>" />
      </div>
    </div>
  </div>
</div>