<div class="container">
  <div class="row">
    <div class="offset6 span8">
      <div class="row-fluid" id="settings-container">
        <h1>H1</h1>
      </div>
    </div>
    <div class="span4">
      <div class="avatar">
        <img src="<%=user.get('avatar')%>?type=large" style="width: 100%"/>
      </div>
      <h1><%=user.get('name')%></h1>
    </div>
  </div>
</div>