<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Overviews</li>
		<li><a href="/">Home</a></li>
		<li><a href="/users/">Users</a></li>
		<li><a href="/schools/">Schools</a></li>
		<li><a href="/notifications/">Notifications</a></li>
		<li><a href="/links/">Links</a></li>
		<li><a href="/launch/">Launch Tools</a></li>
	</ul>
</div><!--/.well -->