<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Numbers</li>
  		<li><a href="/">Home</a></li>
    <li class="nav-header">Users</li>
      <li><a href="/users/">Overviews</a></li>
      <li><a href="/users/find">Find</a></li>
      <li><a href="/users/friends/">Friends</a></li>
      <li><a href="/users/add">Add</a></li>
    <li class="nav-header">Social</li>
      <li><a href="/links/">Links</a></li>
    <li class="nav-header">Schools</li>
      <li><a href="/schools/">Manage</a></li>
    <li class="nav-header">Notifications</li>
  		<li><a href="/notifications/">Manage</a></li>
    <li class="nav-header">Features</li>
      <li><a href="/features/">Manage</a></li>
    <li class="nav-header">External</li>
      <li><a href="http://github.com/courseshark/courseshark" target="_blank">GitHub</a></li>
      <li><a href="http://github.com/courseshark/courseshark/issues" target="_blank">Issues</a></li>
      <li><a href="http://mixpanel.com" target="_blank">Mixpanel</a></li>
	</ul>
</div><!--/.well -->