<div class="friends-list">
  <div class="row-fluid">
    <div class="span24 title-bar">
      Friends
      <div class="title-bar-buttons pull-right">
        <button class="btn btn-small btn-success" id="find-and-add-friends">+</button>
        <button class="btn btn-small btn-primary" id="friend-list-add-from-facebook">f</button>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div id="friends-list-content" class="span24 list"></div>
  </div>
</div>