<div class="row-fluid">
  <div class="friend span24">
    <div class="span4 avatar">
        <img src="http://1.gravatar.com/avatar/061fcb1bcd37d7e4a23a0b4761b7739f" class="img-rounded">
    </div>
    <div class="span20 friend-name">
    	<%= name %>
      <button class="remove-friend">-</button>
    </div>
  </div>
</div>