<div class="friends-list">
  <div class="row-fluid">
    <div class="span24 title-bar">
      Friends
    </div>
  </div>
  <div class="row-fluid">
    <div id="friends-list-content" class="span24 list"></div>
  </div>
</div>