<div class="dropdown-header">
  <div class="header-title">Add Friends</div>
  <button type="button" class="close" aria-hidden="true">&times;</button>
</div>

<div class="dropdown-content">
  <div class="row-fluid">
    <div class="span24">
      <input type="text" id="search-friends" class="input-block-level" placeholder="Search Friend's name or email" />
      <p class="muted">
        Search for a person by name or email.
      </p>
    </div>
  </div>
  <div class="split"></div>
  <ul class="nav" id="friends-list">
  </ul>
</div>