<div class="modal-header">
	<a href="#" class="close" data-dismiss="modal">&times;</a>
	<h3>Registration Time!</h3>
</div>

<div class="modal-body">
	<p id="numbers-header">Below are the Registration Numbers for your current schedule.</p>
	<div class="well" id="numbers"></div>
</div>

<div class="modal-footer">
	<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
</div>


<script>
	var numbers = new Array();
	$('.section-option.selected').each(function(){	
		name = $(this).parent().parent().children('.course-title').html()
		if ( name == null || name == 'null' ){
			name = $(this).parent().parent().parent().children('.course-title').text();
		}
		names = name.match(/([A-Z]+\s\d{2,5})/);
		if ( name ){
			name = names[1];
			numbers[numbers.length] = ($(this).children('.section-number').html()) + "&nbsp;&nbsp;" + name;
		}
	});
	$('#numbers').html(numbers.join("<br />"));
</script>