<div class="filter-panel">
	<div class="search">
		<div class="row-fluid">
			<div class="span24">
				<h1>Find a class</h1>
			</div>
		</div>
		<!-- Rectangular Search -->
		<div class="search-box">
			<div class="row-fluid">
			  <div class="span24 input-append">
			    <input type="text" class="span21" id="search-field" placeholder="search" autocomplete="off" value="2212"/>
			    <button type="button" class="btn cs-button" id="search-send"><i class="icon-search icon-white"></i></button>
			  </div>
			</div>
		</div>
	</div>
	<div class="advanced-search">
		<h1>Advanced search</h1>
	</div>
	<div class="advanced-search-filters"></div>
</div>
