<div class="filter-panel">
	<div class="search">
		<div class="row-fluid">
			<div class="span24">
				<h1>Find a class</h1>
			</div>
		</div>
		<!-- Round Search -->
		<!-- <div class="search-box">
			<div class="row-fluid">
				<form class="form-search">
				  <div class="span24 input-append">
				    <input type="text" class="span21 search-query" placeholder="search"/>
				    <button type="submit" class="btn"><i class="icon-search"></i></button>
				  </div>
				</form>
			</div>
		</div> -->
		<!-- Rectangular Search -->
		<div class="search-box">
			<div class="row-fluid">
				<form>
				  <div class="span24 input-append">
				    <input type="text" class="span21" placeholder="search"/>
				    <button type="submit" class="btn"><i class="icon-search icon-white"></i></button>
				  </div>
				</form>
			</div>
		</div>
	</div>
	<div class="advanced-search">
		<h1>Advanced search</h1>
	</div>
	<div class="attribute">
		<div class="row-fluid" >
			<fieldset>
				<legend>seats</legend>
				<div class="row-fluid">
						<div class="seats span24">
							<div class="span2 offset2">
								<input type="checkbox" name="seats" id="available" value="available" checked>
							</div>
							<div class="span20">
								<label for="available">available</label>
							</div>
						</div>
				</div>
				<div class="row-fluid">
						<div class="seats span24">
							<div class="span2 offset2">
								<input type="checkbox" name="seats" id="wait" value="wait" checked>
							</div>
							<div class="span20">
								<label for="wait">waitlist</label>
							</div>
						</div>
				</div>
				<div class="row-fluid">
						<div class="seats span24">
							<div class="span2 offset2">
								<input type="checkbox" name="seats" id="full" value="full" checked>
							</div>
							<div class="span20">
								<label for="full">full</label>
							</div>
						</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="attribute">
		<div class="row-fluid">
			<fieldset>
				<legend>day of week</legend>
						<div class="days span24">
							<div class="span1"/>
							<div class="day span4" id="monday">
								<label for="m">m</label>
								<input class="daybox" type="checkbox" name="day" id="monday" value="m" checked/>
							</div>
							<div class="day span4" id="tuesday">
								<label for="t">t</label>
								<input class="daybox" type="checkbox" name="day" id="tuesday" value="t" checked/>
							</div>
							<div class="day span4" id="wednesday">
								<label for="w">w</label>
								<input class="daybox" type="checkbox" name="day" id="wednesday" value="w" checked/>
							</div>
							<div class="day span4" id="thursday">
								<label for="th">th</label>
								<input class="daybox" type="checkbox" name="day" id="thursday" value="th" checked/>
							</div>
							<div class="day span4" id="friday">
								<label for="f">f</label>
								<input class="daybox" type="checkbox" name="day" id="friday" value="f" checked/>
							</div>
							<div class="span1"/>
						</div>
			</fieldset>
		</div>
	</div>
	<div class="attribute">	
		<div class="row-fluid">
			<fieldset>
				<legend>time</legend>
				<div class="time"></div>
				<div class="slider"></div>
			</fieldset>
		</div>
	</div>
	<div class="attribute">
		<div class="row-fluid">
			<fieldset>
				<legend>friends</legend>
				<div class="row-fluid">
						<div class="friends span24">
							<div class="span2 offset2">
								<input type="checkbox" name="friends" id="friends" value="friends" checked>
							</div>
							<div class="span20">
								<label for="friends">friends</label>
							</div>
						</div>
				</div>
				<div class="row-fluid">
						<div class="friends span24">
							<div class="span2 offset2">
								<input type="checkbox" name="friends" id="nofriends" value="nofriends" checked>
							</div>
							<div class="span20">
								<label for="nofriends">no friends</label>
							</div>
						</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="attribute">
		<div class="row-fluid">
			<fieldset>
				<legend>radio</legend>
				<div class="row-fluid">
						<div class="radio span24">
							<div class="span2 offset2">
								<input type="radio" name="radio" id="yesradio" value="yesradio" checked>
							</div>
							<div class="span20">
								<label for="yesradio">yes</label>
							</div>
						</div>
				</div>
				<div class="row-fluid">
						<div class="radio span24">
							<div class="span2 offset2">
								<input type="radio" name="radio" id="noradio" value="noradio">
							</div>
							<div class="span20">
								<label for="noradio">no</label>
							</div>
						</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>
