<div class="container">
	<ul class="nav nav-pills">
		<!-- SAVE -->
		<li><a href="#" id="save-button" data-toggle="modal" class="nav-btn btn"><i class="icon-tag"></i> Save</a></li>

		<div id="save" class="modal hide fade in">
			<div class="modal-footer">
			  <a href="#" class="btn btn-success">Save</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
		</div>
		<!-- LOAD -->
		<li><a href="#" id="load-button" data-toggle="modal" class="nav-btn btn"><i class="icon-folder-open"></i> Load</a></li>

		<div id="load" class="modal hide fade in">
			<div class="modal-footer">
			  <a href="#" class="btn btn-success">Load</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
		</div>
		<!-- NEW -->
		<li><a href="#" id="new-button" data-toggle="modal" class="nav-btn btn"><i class="icon-file"></i> New</a></li>

		<div id="new" class="modal hide fade in">
			<div class="modal-footer">
			  <a href="#" class="btn btn-success">New</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
		</div>

		<!-- PRINT -->
		<li><a href="#"	id="print-button"><i class="icon-print"></i> Print</a></li>
		<!-- LINK -->
		<li><a href="#" id="link-button" ><i class="icon-share"></i> Share Link</a></li>
		<!-- ICAL -->
		<li><a href="#" id="ical-button" ><i class="icon-download-alt"></i> Export .ics</a></li>
	</ul>
</div>


