<div class="container">
	<div class="subnav">
  	<div class="nav-commands">
			<ul class="nav nav-pills">
				<li><a href="#" id="save-button" ><i class="icon-tag"></i> Save</a></li>
				<li><a href="#" id="load-button" ><i class="icon-folder-open"></i> Load</a></li>
				<li><a href="#" id="new-button"  ><i class="icon-file"></i> New</a></li>
				<li><a href="#"	id="print-button"><i class="icon-print"></i> Print</a></li>
	      <li><a href="#" id="link-button" ><i class="icon-share"></i> Share Link</a></li>
				<li><a href="#" id="ical-button" ><i class="icon-download-alt"></i> Export .ics</a></li>
	    </ul>
		</div>
	</div>
</div>