<div class="container full-height hide-overflow">
	<div class="row full-height">
		<div class="span16 full-height">
			<!-- Contains the overlayed panels -->
			<div id="right-two-panels" class="full-height">
				
				<!-- Sliding pane -->
				<div id="slide-panel" class="row full-height">
					<div id="filter-frame" class="span8 full-height">
						filter
					</div>
					<div id="results-frame" class="span8 full-height">
						results
					</div>
					<div id="slide-panel-button" class="open"></div>
				</div>

				<!-- MaxiCal -->
				<div id="max-cal-container" class="row full-height">
					<div id="max-cal-frame" class="span16 full-height">
						MaxiCal goes here!
					</div>
				</div>
			</div>
		</div>

		<!-- Schedule information panel -->
		<div id="schedule-frame" class="span8 full-height">Schedule</div>
	</div>
</div>