<div class="container full-height hide-overflow">
	<div class="row full-height">
		<div class="span16 full-height">
			<div class="row full-height">
				<!-- Contains the overlayed panels -->
				<div id="right-two-panels" class="span16 full-height">
					<!-- Sliding pane -->
					<div id="slide-panel" class="row full-height ">
						<div id="slide-container" class="span8 full-height panel">
							<div class="row full-height">
								<!-- Filter view goes here -->
								<div id="filter-frame" class="span8 full-height"><button id="show-results">Results</button></div>
								<!-- Results view goes here -->
								<div id="results-frame" class="span8 full-height hidden"></div>
							</div>
						</div>
					</div>

					<!-- MaxiCal -->
					<div id="max-cal-container" class="row full-height">
						<!-- MaxiCal view goes here -->
						<div id="max-cal-frame" class="span16 full-height panel hidden"></div>
					</div>

					<!-- Tutorial Frame -->
					<div id="tutorial-frame" class="full-height offset8 span8"></div>

				</div>
			</div>
		</div>

		<!-- Schedule information panel -->
		<div id="schedule-frame" class="span8 full-height">
			<h1>Schedule</h1>
			<!-- Schedule view goes here -->
		</div>
	</div>
</div>