<div class="container">
	<div class="page-header">
		<h1>About</h1>
	</div>

	<div class="row">
		<div class="span8">
			<h2>CourseShark's mission <small>is to make scheduling easy</small></h2>
			<p>CourseShark, is the newest and easiest way to plan your college 
				schedule this semester. With CourseShark's easy and intuitive interface, you can craft the schedule you need faster than ever!
				Our system scans college catalogs every <?php echo SEAT_UPDATE_MINUTES?> minutes, so information regarding
				sections, instructors, seats, and class times are always up-to-date.</p>
			<p>If you replace your usual, labor-intensive schedule creation methods with CourseShark, you can spend less time worrying about 
			making the perfect schedule and more time having fun at college.

			<h2>How it works</h2>
			<p>CourseShark automatically scans your college's course catalogs, reading and recording information 
				about each course it finds. CourseShark then uses this data to build your schedule, notify you when seats open, and much more. This process happens 
				every <?php echo SEAT_UPDATE_MINUTES?> minutes ensuring that you have access to the most up-to-date information.</p>
			<p>Most colleges' course catalogs are ugly and hard to use.  
				Using the raw data collected, CourseShark presents a simple and beautiful interface to help you visually build the schedule of your dreams. 
				  </p>
		</div>
		<div class="span4">
			<h2>Notable Achievements</h2>
			<div class="thumbnail">
				<img src="/images/inventure.png" alt="Inventure prize finalist" />
				<p>CourseShark is a finalist in the 2012 InVenture Prize at Georgia Tech</p>
			</div>
		</div>
	</div>

	<div class="page-header">
		<h1>The Team</h1>
	</div>
	<div class="row">
		<div class="span6">
			<section class="profile">
				<h2>James Rundquist</h2>
				<h3>Founder / Official Sharkapult Operator</h3>
				<footer>
					<a href="https://twitter.com/#!/jamesrundquist" target="_blank">@jamesrundquist</a>
				</footer>
				<p>Born and raised by Scandinavian wolves, James, a Norse demigod, is the lead developer and founder of CourseShark. 
					While attending Arizona State University, he conceived the idea of the world's greatest course scheduling website 
					and worked on it in his free time. Having grown tired of combing Arizona sand from his magnificent mane, James 
					is currently attending Georgia Institute of Technology, where he is pursuing a degree in Computer Science. While he
					isn't hurling more sharks at the CourseShark servers, or training them to spin the cogs that make the 
					site work, James is often found watching Futurama, working on side projects, or just hangin&rsquo; around.</p> 
			</section>
		</div>
		<div class="span6">
			<section class="profile">
				<h2>Greg Cobb</h2>
				<h3>Seer of the Internet</h3>
				<footer>
					<a href="https://twitter.com/#!/gregmcobb" target="_blank">@gregmcobb</a>
				</footer>
				<p>Constructed in a secret underground laboratory in California, Greg, a near perfect being with a 
					direct connection to the internet in his cerebral cortex, was assimilated into the project when James decided he 
					needed an accomplice to do his dirty work.  Long time friends with 
					James, Greg is also pursuing a Computer Science degree at Georgia Tech (though he is currently interning at Twitter). 
					Greg’s primary functions are to tell James how brilliant his ideas are, do some development, and handle most of the non-development aspects of the company. If something 
					is awesome (like these Biographies for example), Greg probably had something to do with it.</p> 
			</section>
		</div>
	</div>
</div> <!-- /.container -->