/**
*	Master CSS Style Sheet
*/
@import "vars";
@import "lib/bootstrap/bootstrap";
// @import "lib/bootstrap/responsive";

@import 'lib/select2/select2.css';

@import "dialog";
@import "friends";
@import "social";
@import "schedule";
@import "caffeine";

// @import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Pontano+Sans");

body{
	padding-top: 60px;
	color: @grayDark;
}

button{
	.btn();
}

h3 small{
	font-size: 13px;
}

.center{
	text-align: center;
	margin:0 auto;
}

.navbar {
	.navbar-inner{
		border-bottom: 3px solid @lightBlue;
		background: @offWhite;
		color: @grey;
		height: 50px;
		.social{
			height: 40px;
			line-height: 64px;
			vertical-align: middle;
		}
		.brand{
			text-indent:-9999px;
			width: 100px;
			margin:10px;
			margin-top: 5px;
			background: url('/images/logo.png') no-repeat center center;
			background-size: contain;
		}

	}
	.nav {
		.dropdown-toggle .caret, .open.dropdown .caret, {
			&:hover{
				border-top-color: #000;
				border-bottom-color: #000;
			}
			border-top-color: #000 !important;
			border-bottom-color: #000 !important;
		}
		& > li {
			& > a {
				color: @black;
				text-shadow: none;
				line-height: 30px;
				font-size: 1.2em;
				&:hover{
					color: @textBlue;
				}
			}
			& > button{
				margin: 7px 0;
				font-size: 1.2em;
			}
		}
	}
}

.btn.right{
	float: right;
}

.schedule-preview-image{
	width: 720px;
	height:480px;
}
/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
	margin-bottom: 15px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
	.nav {
	  margin-bottom: 0;
		& > li > a {
		  margin: 0;
		  padding-top:    11px;
		  padding-bottom: 11px;
		  border-left: 1px solid #f5f5f5;
		  border-right: 1px solid #e5e5e5;
		  -webkit-border-radius: 0;
		     -moz-border-radius: 0;
		          border-radius: 0;
		}
		& > .active > a {
			&, &:hover {
			  padding-left: 13px;
			  color: #777;
			  background-color: #e9e9e9;
			  border-right-color: #ddd;
			  border-left: 0;
			  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
			     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
			          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
			}
		}
	}
	.nav > li:first-child > a,
	.nav > li:first-child > a:hover {
	  border-left: 0;
	  padding-left: 12px;
	  -webkit-border-radius: 4px 0 0 4px;
	     -moz-border-radius: 4px 0 0 4px;
	          border-radius: 4px 0 0 4px;
	}
	.nav > li:last-child > a {
	  border-right: 0;
	}
	.nav > .active > a .caret,
	.nav > .active > a:hover .caret {
	  border-top-color: #777;
	}
	.dropdown-menu {
	  -webkit-border-radius: 0 0 4px 4px;
	     -moz-border-radius: 0 0 4px 4px;
	          border-radius: 0 0 4px 4px;
	}
}


.masthead{
	background: none;
	padding: 20px 0 0 0;
	height: 350px;
	background: url('/images/macbook.png') right bottom no-repeat;
	margin-right: -90px;
	//text-align: center;
	//font-variant:small-caps;
	h1{
		font-size: 38px;
		margin-top: 0.6em;
		line-height: 1.1;
		font-weight: normal;
		letter-spacing: 0px;
	}
	p{
		margin: 1em 0;
		font-size: 20px;
	}
	img{
		width: 100%;
	}
	.btn-large{
		font-size: 20px;
		font-weight: normal;
		padding: 14px 24px;
		margin-right: 10px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		font-variant: normal;
		i{
			margin-top: 4px;
		}
	}
}

.section-head{
	padding: 50px 0 30px;
	h1{
		font-size: 40px;
		line-height: 45px;
		font-weight: 300;
		text-align: center;
	}
	p{
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
		color: @grayLight;
		text-align: center;
	}
}

.listing{
	h2, h3 {
		font-weight: 300;
	}
	p {
		font-size: 13px;
		line-height: 18px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: @grayDark;
	}
}
.footer{
	margin: 60px 0 0 0;
	padding: 60px 0 100px 0;
	border-radius:0;
	img{
		width: 100%;
	}
}
.shadow {
	.box-shadow(3px, 3px, 4px, #555);
}


.popover{
	h3{
		line-height: 17px;
	}
	dl{
		margin-top: 5px;
		margin-bottom: 0px;
	}
}

.section-head{
	text-align: center;
	h1{
		font-size: 30px;
		font-weight: 400;
		margin: 1em 0 0.2em;
	}
}


/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {
/** Fix bootstrap nonsense **/
	.modal.fade.in {
		top: 8%;
	}
}

@media (max-width: 768px) {

}


@media (min-width: 480px) and (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 980px) {

}


@media (max-width: 980px) {

}


/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

}

