<div class="results-section">
  <div class="row-fluid">
    <div class="prof span20"><%= prof %></div>
    <div class="seats span4"><%= seats %></div>
  </div>
  <div class="row-fluid">
    <div class="section-id span20"><%= section_id %></div>
        <button class="add span4"></button>
  </div>
  <div class="row-fluid">
    <div class="days span20">
      <div class="day selected span2">m</div>
      <div class="day span2">t</div>
      <div class="day selected span2">w</div>
      <div class="day span2">th</div>
      <div class="day selected span2">f</div>
    </div>
  </div>
  <div class="details">
    <div class="row-fluid">
      <div class="description span24">
        Ice cream chocolate cake apple pie. Muffin sweet gummies icing tiramisu icing halvah jujubes ice cream. Dragée cake powder cupcake bear claw oat cake dessert tart jelly beans.
      </div>
    </div>
    <div class="row-fluid">
      <div class="hours span24">
        <%= hours %> Credit Hours
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="expander span24">
      <i class="icon-chevron-down"></i>
    </div>
  </div>
</div>
