<div class="navbar-inner">
  <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="brand" href="/">Course<strong>Shark</strong> </a>
    <div class="nav-collapse">
      <ul class="nav pull-right">
        <% if (loggedIn) { %>
          <ul class="nav pull-right">
            <li>
              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" >
                  <i class="icon-user icon"></i>&nbsp;<%= user.firstName %>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/settings"><i class="icon-cog"></i>&nbsp;Settings</a></li>
                  <li><a href="/friends"><i class="icon-comment"></i>&nbsp;Friends</a></li>
                  <li><a href="/logout"><i class="icon-off"></i>&nbsp;Log Out</a></li>
                </ul>
              </div>
            </li>
          </ul>
        <% } else { %>
         <li><button class="btn btn-primary" id="nav-login"><i class="icon-white icon-user"></i> Sign In</button></li>
        <% } %>
      </ul>
      <ul class="nav pull-right">
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/watcher">SeatWatcher</a></li>
        <li><a href="http://books.courseshark.com/" target="_blank" onClick="_gaq = _gaq||{};_gaq.push(['_trackPageview', '/books']);">Books</a></li>
        <li><a href="javascript:UserVoice.showPopupWidget();" title="Open feedback &amp; support dialog (powered by UserVoice)">Feedback</a></li>
        <% if (loggedIn && user.admin){ %>
        <li><a href="//admin.<%=domain%>">Admin</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>