<div class="fancy">
  <div class="container" >
    <div class="hero-unit masthead">
      <div class="row">
        <div class="introducing span12">
          <h1>Scheduling made simple</h1>
          <p class="intro">
            CourseShark crafts exactly the schedule you need and shares it with your inner circles.
          </p>
          <p>
            <div class="btn btn-success btn-large get-started">
              Get Started <i class="icon-white icon-arrow-right"></i>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section-head">
    <h1>Create, plan, and share your schedule</h1>
    <p>We have the tools you need</p>
  </div>
  <div class="row listing">
    <div class="span8">
      <h2>Accurate Data<span class="arrow"></span></h2>
      <p>During registration periods, seat information changes fast. CourseShark automatically scans college catalogs, so you always have the most up-to-date information.</p>
    </div>
    <div class="span8">
      <h2>Share with Friends<span class="arrow"></span></h2>
      <p>See who is using CourseShark, take classes with friends, and compare schedules to see when you can meet for a project or grab a bite! Easy registration makes it simple to share your schedule over e-mail and social media.</p>
    </div>
    <div class="span8">
      <h2>SeatWatcher<span class="arrow"></span></h2>
      <p>Get ahead of the game with SeatWatcher, a revolutionary new tool for college schedule creation. The class you need is full? SeatWatcher sends you an email and/or text message when a seat opens so you can sleep in Friday, if you prefer!</p>
    </div>
  </div>
  <div class="row listing">
    <div class="span8">
      <h2>Quick Sharing<span class="arrow"></span></h2>
      <p>Sharing your schedule has never been easier! With CourseShark, you can generate short links directly to your schedule to share over e-mail or post your schedule to your Facebook timeline.</p>
    </div>
    <div class="span8">
      <h2>New Features<span class="arrow"></span></h2>
      <p>We are always working to make CourseShark the easiest and most powerful scheduling tool on the market. Did you know your course schedule can be used to find you a job?</p>
    </div>
    <div class="span8">
      <h2>Export Calendar<span class="arrow"></span></h2>
      <p>Need a copy of your class schedule on your Google Calendar, iCal, or Outlook? CourseShark can export your schedule!</p>
    </div>
  </div>
</div>


<div class="well footer">
  <div class="container">
    <div class="row">
      <div class="span6">
        <img class="logo" src="http://03694675b5adae6c959d-b2039adcd340c64cda7213b76bc7bc82.r82.cf1.rackcdn.com/logo.png" alt="CourseShark Logo"/>
      </div>
      <div class="span14">
        <ul class="nav nav-pills">
          <li><a href="/">Home</a></li>
          <li><a href="/terms">Terms</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="http://blog.courseshark.com/">Blog</a></li>
          <li><a href="https://twitter.com/CourseShark">Twitter</a></li>
          <li><a href="https://facebook.com/CourseShark">Facebook</a></li>
        </ul>
      </div>
      <div class="span2">
        <a href="https://mixpanel.com/f/partner"><img src="https://mixpanel.cachefly.net/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
        <br /><br />
        <a href="http://www.rackspace.com" target="_blank"><img src="http://03694675b5adae6c959d-b2039adcd340c64cda7213b76bc7bc82.r82.cf1.rackcdn.com/rackspace-logo.png" alt="Mobile Analytics" /></a>
      </div>
    </div>
    <div class="row">
      <div class="span16">
        <p><small>&copy; <%= (new Date).getFullYear() %> CourseShark LLC.</small></p>
      </div>
    </div>
  </div>
</div>