<div class="row-fluid">
  <div class="schedule-section span24" style="background: <%=colorClear%>">
    <div class="span20">
      <div class="span1 colorbar" style="background-color: <%= color %>"></div>
      <div class="offset1 span19">
      	<%= number %> : <%=name%>
      </div>
    </div>
    <div class="span1 offset2 schedule-remove">
        &times;
    </div>
  </div>
</div>