@sam-grey: #8a949e;

.filter-panel {
	padding: 8px 8px 8px 8px;
	position: relative;
  	margin: 15px;
  	overflow: hidden;
  	color: @sam-grey;

  	background-color: white;

  	.slider {
  		color: @sam-grey;
  	}
}