body{
	overflow-y: hidden;
	overflow-x: auto;
	padding-top: 53px;
	background: #f4f4f4 url('/images/backbone/bg-shard.png') repeat center center;

}

.full-height{
	height: 100%;
}
.hide-overflow{
}
.panel{
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 6px rgba(0,0,0,.7);
	h1{
		margin: 0;
		font-size: 14px;
		font-weight: bold;
		line-height: 150%;
		color: #3FA9F5;
	}
}

#app-container{
	margin: auto;
}

#main-nav{
	.nav{
		margin-bottom: 5px;
	}
}

#main-container{
	padding: 0 0 13px;
}

//// Panel styling
#schedule-frame{
	.panel;
}

#tutorial-frame{
	position: absolute;
	top:0;
	right:0;
	background: white;
	z-index: 350;
}

#right-two-panels{
	position: relative;

	#max-cal-container{
		z-index: 300;
		position: absolute;
		top: 0;

		#max-cal-frame{
		}
	}

	#slide-panel{
		&.closed{
			position: absolute;
			left: -100%;
		}
		z-index: 400;
		position: absolute;
		top: 0;
		color: white;

		// Animation
		@time: 500ms;
		-webkit-transition: left @time;
		-moz-transition: left @time;
		-o-transition: left @time;
		transition: left @time;


		#filter-frame{
			overflow-y: scroll;
		}

		#results-frame{
			border-left: 1px solid grey;
			margin-left: -1px;
			overflow-y: auto;
		}

		// Slider Button
		#slide-panel-button{
			&:before{
				content: ">>";
				background: #ccc;
				color: black;
				padding: 2px;
			}
			&.open:before{
				content: "<<";
				background: #ccc;
				color: black;
				padding: 2px;
			}
			position: absolute;
			top: 0;
			right: 5px;
			width: 0;
		}
	}
}
