body{
	overflow-y: hidden;
	overflow-x: auto;
	padding-top: 53px;
}
#app-container{
	margin: auto;
	min-width: 500px;
}

#main-container{
	background: #ffe7cf;
	padding: 0 0 13px;
}

.full-height{
	height: 100%;
}

#right-two-panels{
	position: relative;

	#max-cal{
		z-index: 300;
		position: absolute;
		top: 0;

		#maxical-frame{
			background: rgba(0,0,0,.3);
		}
	}

	#slide-frame{
		&.closed{
			position: relative;
			left: -100%;
		}

		@time: 500ms;
		-webkit-transition: all @time; /* Safari and Chrome */
		-moz-transition: all @time; /* Firefox 4 */
		-o-transition: all @time; /* Opera */
		transition: all @time;

		z-index: 400;
		position: absolute;
		top: 0;
		color: white;
		#filter-frame{
			background: rgba(0,0,255,.2);
		}

		#results-frame{
			background: rgba(0,0,255,.2);
		}

		#slide-frame-button{
			&:before{
				content: ">>";
				background: #ccc;
				color: black;
				padding: 2px;
			}
			&.open:before{
				content: "<<";
				background: #ccc;
				color: black;
				padding: 2px;
			}
			
			position: absolute;
			top: 0;
			right: 5px;
			width: 0;
		}
	}
}
#schedule-view{
	background: rgba(0,0,0,.2);
}