@import "vars";

.friends-list{
  #add-friend{
    color: blue;
  }
  .friend{
    border-bottom: 1px solid #BBB;
    &.pending{
      opacity: 0.5;
      -webkit-filter: grayscale(100%);
    }
    .avatar{
      text-align: center;

      img{
        height: 30px;
        width: 30px;
      }
    }

    .friend-name{
      line-height: 30px;
    }
  }
}

.friend-option{
  &.chosen{
    background: @blue;
    .remove-friend:hover {
      text-decoration: none;
    }
  }
}


#friends-list-content{
  padding:10px;
}

.tooltip-inner {
  box-shadow: 0 0 10px #000;
}

.friend-block{
  width: 14.285714285%;
  float: left;
  position: relative;

  &.chosen{
    width: 28.57142857%;
    .options{
      display: block;
    }
  }

  -webkit-transition: all 100ms ease;

  .options{
    display: none;
    position: absolute;
  }
  .avatar{
    margin: 1px;
    &.pending{
      opacity: 0.5;
      -webkit-filter: grayscale(100%) blur(2px);
    }
  }
  .img-block{
    width: 100%;
  }
}