@import "vars";

.modal {

  .btn-success {
    color: white;
    .background-gradient-linear(@cs-accent-blue, @cs-blue)
  }

  .modal-body {
    .header {
      color: @cs-blue;
      font-size: 1.25em;
      font-weight: bold;
    }
  }
}