@import "vars";

.navbar-fixed-top{
  .navbar-inner.navbar-main{
    @from: @nav-bar;
    @to: darken(@from, 5%);


    background-color: @from;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{from}', endColorstr='@{to}');
    background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
    background-image: -moz-linear-gradient(top, @from, @to);
    background-image: -ms-linear-gradient(top, @from, @to);
    background-image: -o-linear-gradient(top, @from, @to);
    background-image: linear-gradient(top, @from, @to);

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .brand{
      color: @offWhite;
      text-shadow: 0 1px 0 @black;
    }
  }
}
.main-nav-right{
  .btn-nav{
    margin-right: 0px;
    @bgColor: lighten(@nav-bar, 5%);
    @cnt: 10%;
    color: @white;
    text-shadow: none;
    //text-shadow: 0 1px 1px @black;
    background: @bgColor;
    &:hover{
      background: lighten(@bgColor, @cnt);
    }
  }
  img.user-icon{
    height: 30px;
    width: 30px;
    margin: 3px -1px -1px 1px;
    border: 1px solid darken(@offWhite, 5%);
    &:hover{
      border-color: @offWhite;
    }
  }
}



.nav-btn {
	color: @cs-blue;
}