@import "vars";

.navbar-inner{
  background: @offWhite;
}
.main-nav-right{
  .btn-nav{
    margin-right: 0px;
    background: @offWhite;
    &:hover{
      background: @white;
    }
  }
  img.user-icon{
    height: 30px;
    width: 30px;
    margin-top: 5px;
    border: 1px solid @white;
  }
}



.nav-btn {
	color: @cs-blue;
}