@sam-grey: #8a949e;

.results-section{
  padding: 8px 8px 8px 8px;
  transition: height .5s ease-in-out;
  -webkit-transition: height .5s ease-in-out;
  -webkit-box-shadow: -2px 2px 3px 0px #CCC;
  position: relative;
  margin: 15px;
  overflow: hidden;
  color: @sam-grey;
  border: solid 1px @sam-grey;
  -webkit-border-radius: 3px;
  background-color: white;
  background-image:  -webkit-linear-gradient(top,#FFF,#E5E5E5);

  .row-fluid div{
    min-height: 20px;
  }

  .prof{
  }

  .seats{
  }

  .section-id{
  }

  .add{
    width: 35px;
    height: 30px;
    border: solid 1px @sam-grey;
    border-radius: 3px;
    background-color: white;
    background-image:  -webkit-linear-gradient(top,#FFF,#E5E5E5);
    line-height: 20px;
    text-align: center;

    &:before{
      content: '+';
    }

    &.added{
      background-color: red;
      background-image: -webkit-linear-gradient(top,red,#E50505);

      &:before{
        content: '-';
      }
    }
  }

  .days{
    line-height: 100%;

    .day{
      text-align: center;

      &.selected{
        font-weight: bold;
        color: blue;
      }
    }
  }

  .expander{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 5px !important;
    line-height: 0px;

    &:hover{
      background-color: rgba(0,0,0,.05);
      cursor: pointer;
    }
  }

  .details{
    display: none;

    .description{
    }

    .hours{
      margin-top: 5px;
    }
  }

}