@import "vars";

.friends-list, .schedule-sections-list{

  .title-bar{
    @titletop: #51aef7;
    @titlebottom: #2c7bb8;

    background-color: #3fa9f5;
    .background-gradient-linear(@titletop, @titlebottom);
    height: 30px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 14px;
    padding-left: 15px;
    line-height: 30px;
  }

  .list{
    background-color: @bg-blue;
    min-height: 50px;
    overflow-y: auto;
  }
}