.schedule-sections-list{

  .list{

    .schedule-section{
      color: #78aace;
      border-bottom: 1px solid #BBB;
      line-height: 30px;
    }

    .schedule-remove{
      text-align: right;
      cursor: pointer;
    }
  }
}