@cs-blue: #3FA9F5;
@cs-accent-blue: #3F7BF5;
@text-grey: #8a949e;

@white: #fff;
@offWhite: #f5f5f5;
@black: #141414;
@grey:  #7f7f7f;
@lightGrey:  #aaa;
@superLight: #e4e4e4;
@orange: #ff6d00;
@green: #1fff19;
@blue: #3FA9F5;
@subBlue: darken(@blue, 30%);
@subBlueTrans: fadeout(@subBlue,40%);
@darkBlue: #4D6484;
@textBlue: darken(@blue, 40%);
